.in-cart {
    top: 200px;
}
.quanity-attention {
    position: absolute;
    display: none;
}

.arrow_box {
    background: #fff;
    border: 1px solid #c03a82;
    color: #000;
    padding: 5px;
    top: 70px;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #c03a82;
    border-width: 5px;
    margin-left: -5px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #c03a82;
    border-width: 6px;
    margin-left: -6px;
}