ul.map-level-0 a {
    font-weight: bold;
}

ul.map-level-1 a, ul.map-level-2 a, ul.map-level-3 a {
    font-weight: normal;
}

.map-columns td {
    vertical-align: top;
}
.map-level-0 li {
    margin-top: 30px;
}
.map-level-0 li:first-child {
    margin-top: 0;
}
.map-level-1 li {
    margin-top: 5px;
}
.map-level-1 {
    margin-top: 10px;
}